/*
// 申请流程样式
// --------------------------------------------------
*/
@charset "UTF-8";

/* --- 表单进场动画 --- */
.form-box-in-1 {
    .fadeInUp();
    .animation-duration(0.5s);
    .animation-delay(1s);
}

.form-box-in-2 {
    .fadeInUp();
    .animation-duration(0.5s);
    .animation-delay(1.1s);
}

.form-box-in-3 {
    .fadeInUp();
    .animation-duration(0.5s);
    .animation-delay(1.2s);
}

/* --- 表单按钮盒子 --- */
.appli-form-btn-box {
    padding: @gapSize-public*2 @gapSize-public @gapSize-public @gapSize-public;
}

/* --- antd mobile 框架自定义样式补丁 --- */
.am-list.customs-form-components {

    .am-list-header {
        padding-left: @gapSize-public;
        padding-right: @gapSize-public;
        background-color: @bgColor-secondary;
    }

    &.no-border-bottom .am-list-body:after {
        content: none;
    }

    .am-list-item {
        padding-left: 0;

        .am-list-line {
            padding-left: @gapSize-public;

            &:after {
                border-bottom-width: 1px; /* no */
            }
        }

        .am-input-label {
            color: @fontColor-viceText;
        }

        &.am-input-item {
            padding-left: @gapSize-public;
            padding-right: @gapSize-public;

            &::after {
                right: 0;
                left: 0;
            }
        }

        &.with-select {
            padding-left: @gapSize-public;
            padding-right: @gapSize-public;
            border-bottom: 1px solid @borderColor-primary;

            select {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                //padding: 0 @gapSize-public;
                border: 0;
                //font-size: @fontSize-default;
                background-color: transparent;
                -webkit-appearance: menu;
                appearance: menu;
            }
        }

        &.input-extra-for-btn .am-input-extra {
            overflow: initial;
        }
    }
}
