/*
// 公共样式
// --------------------------------------------------
*/

@charset "UTF-8";

/* --- 图片未加载完成或加载失败的图片默认样式，需要在样式中定义图片尺寸 --- */
.image-onload( @bgSize-x: 50%, @bgSize-y: 50%, @svgName: logo-ddd ) {
  background: url('@{images-url}svg-icon/@{svgName}.svg') center center @bgColor-bitmap no-repeat;
  background-size: @bgSize-x @bgSize-y;
}

/* --- 包装 jiathis 外部分享插件的容器 --- */
@size-jiathis-icon: 120px;

.share-panel {
    position: relative;
    padding: @gapSize-public*2 0;
    text-align: center;
    font-size: 0;
    line-height: 0;
    .clearfix();

    [class^="jiathis_style_"],
    [class*=" jiathis_style_"] {
        display: inline-block !important;

        [class^="jiathis_button_"],
        [class*=" jiathis_button_"] {

            > .jtico {
                height: @size-jiathis-icon !important;
                width: @size-jiathis-icon !important;
                border: 1px solid @borderColor-primary; /* no */
                .rounded( @borderRadius-public );
                background-size: cover;
                padding-left: 0 !important;
                margin: 0 @gapSize-public*2;

                &.jtico_tsina {
                    background-image: url( '@{images-url}tsina-logo.jpg' );
                    background-position: 0 0;
                }

                &.jtico_qzone {
                    background-image: url( '@{images-url}qzone-logo.jpg' );
                    background-position: 0 0;
                }
            }
        }
    }

    .share-icon-name {
        font-size: 0;
        line-height: 0;
        padding-top: @gapSize-public;

        > span {
            display: inline-block;
            width: @size-jiathis-icon;
            text-align: center;
            font-size: @fontSize-default;
            line-height: 1;
            margin: 0 @gapSize-public*2;
        }
    }
}

//只用在分享面板
.share-tips {
    position: relative;
    font-size: @fontSize-default;
    line-height: @lineHeight-base;
    padding: @gapSize-public @gapSize-public @gapSize-public @gapSize-public*4;
    border: 1px solid rgba( 173,233,202,1 ); /* no */
    background-color: rgba( 233,249,241,1 );
    text-align: left;
    color: rgba( 43,159,99,1 );
    .rounded( @borderRadius-public );

    [class^="anticon anticon-"],
    [class*=" anticon anticon-"] {
        position: absolute;
        left: @gapSize-public;
        top: @gapSize-public;
        font-size: ceil( @fontSize-default*1.4 );
    }
}

/* --- 解决 jiathis 外部分享插件显示页面二维码的时候的，没有遮罩层，背景页面可以乱点的问题 --- */
#jiathis_weixin_share {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

/* --- 重写 jiathis 外部分享插件的微信二维码弹窗样式 --- */
#jiathis_weixin_share .jiathis_weixin_modal {
    margin: 0 !important;
    transform: translate3d(-50%,-50%,0);
    width: 90% !important; /* no */
    height: auto !important; /* no */

    #jiathis_modal_body {
        height: 90% !important; /* no */
        line-height: inherit !important; /* no */
        margin: @gapSize-public 0;
    }

    p#jiathis_webchat {
        display: inline-block !important;
        vertical-align: middle !important;

        > img {
            width: 100% !important; /* no */
            height: auto !important; /* no */
            margin: 0 !important;
        }
    }
}
