/*
// 公共样式
// --------------------------------------------------
*/

@charset "UTF-8";

/* --- 图片未加载完成或加载失败的图片默认样式，需要在样式中定义图片尺寸 --- */
.image-onload( @bgSize-x: 50%, @bgSize-y: 50%, @svgName: logo-ddd ) {
  background: url('@{images-url}svg-icon/@{svgName}.svg') center center @bgColor-bitmap no-repeat;
  background-size: @bgSize-x @bgSize-y;
}

.share-panel {
    position: relative;
    padding: @gapSize-public;
    text-align: center;
    font-size: 0;
    line-height: 0;
    .clearfix();

    [class^="jiathis_style_"],
    [class*=" jiathis_style_"] {
        display: inline-block !important;

        [class^="jiathis_button_"],
        [class*=" jiathis_button_"] {

            &:last-child:not(:first-child) > .jtico {
                padding-left: 32px !important; /* no */
            }
        }
    }
}
