/*
// 首页样式
// --------------------------------------------------
*/

@charset "UTF-8";

/* --- 焦点图 --- */
.index-banner {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
    z-index: 2;
    .image-onload();

    > img {
        position: absolute;
        top: 0;
        left: 0;
        .square( 100% );
        .slideInLeft();
        .animation-duration( @duration-index-banner-img );
        .animation-delay( @duration-header );
    }

    > .index-banner-btn {
        position: absolute;
        bottom: 36px;
        left: 50%;
        width: 33.33%;
        margin: 0;
        .animation-s(
            indexBannerBtn,
            0.3s,
            ease-out,
            ( @duration-header + @duration-index-banner-img + @duration-index-statistics-live ),
            1,
            normal,
            running,
            both
        );
    }
}

/* --- 广告数据统计 --- */
.index-statistics {
    background-color: @bgColor-primary;
    .clearfix();
}

div.index-statistics {
    .animation-s(
        statistics,
        @duration-index-statistics,
        ease-out,
        ( @duration-header + @duration-index-banner-img*1.5 ),
        1,
        normal,
        running,
        both
    );
}

ul.index-statistics {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
    height: 192px;
    background-color: @bgColor-primary;
    border-bottom: 1px solid @borderColor-primary; /* no */
    .reset-list( none,floor( @fontSize-default*0.8 ),@lineHeight-base );

    > li {
        overflow: hidden;
        display: block;
        order: 1;
        flex: 1 1 auto;
        position: relative;
        max-width: 33.33%;
        border-left: 1px solid @borderColor-primary; /* no */
        background: url( '@{images-url}index-statistics-2.png' ) transparent center 16px no-repeat;
        background-size: auto 45%;

        &:first-child:not( :last-child ) {
            border-left: none;
            background-image: url( '@{images-url}index-statistics-1.png' );
        }

        &:last-child:not( :first-child ) {
            background-image: url( '@{images-url}index-statistics-3.png' );
        }

        > p {
            color: @domColor3-mobile;
            margin-top: 110px;
            text-align: center;

            &:last-child:not( :first-child ) {
                margin-top: 5px;
                color: @fontColor-default;

                > span {
                    color: @domColor1-mobile;
                }
            }
        }
    }
}

/* --- 每日实时统计 云平台v1.3 版本弃用 --- */
// .index-statistics-live {
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: flex-start;
//     align-items: stretch;
//     overflow: hidden;
//     background-color: @bgColor-secondary;
//     padding: @gapSize-public;
//     font-size: floor(@fontSize-default*0.86);
//     border-bottom: 1px solid @borderColor-primary; /* no */
//
//     > p {
//         order: 1;
//         flex: 1 1 auto;
//         position: relative;
//         line-height: @lineHeight-base;
//
//         color: @fontColor-default;
//
//         > span {
//             color: @domColor1-mobile;
//         }
//
//         &:last-child:not(:first-child) {
//             text-align: right;
//         }
//     }
// }

/* --- 每日实时统计 云平台v1.3 版本展示样式--- */
.the-statistics-live {
    width: @width-web-body-public;
    position: relative;
    z-index: 1;
    .animation-s(
        statisticsLive,
        @duration-index-statistics-live,
        ease-out,
        ( @duration-header + @duration-index-banner-img ),
        1,
        normal,
        running,
        both
    );
}

.index-statistics-live-v1_3 {
    background-color: @bgColor-secondary;
    border-bottom: 1px solid  @borderColor-primary; /* no */

    .isl-item {
        padding: @gapSize-public;
        font-size: @fontSize-default;
    }
}

/* --- 战略合作 --- */
.central-img() { //战略合作伙伴公用图片结构样式 mixin
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

    > p {
        order: 1;
        flex: 1 1 auto;
        width: 33.33%;

        > img {
            .size( 75%,auto );
            display: block;
            margin: 0 auto;
            .image-onload();
        }
    }
}

.central-title( @title ) { //战略合作伙伴公用标题样式 mixin
    position: relative;

    &::before {
        content: @title;
        font-size: floor( @fontSize-default*0.86 );
        position: absolute;
        top: -( floor( @fontSize-default*0.86 ) )/1.4;
        left: 50%;
        transform: translate( -50%,0 );
        background-color: @bgColor-primary;
        padding: 0 @gapSize-public;
        color: @fontColor-default;
    }
}

.index-post {
    padding: @gapSize-public;
    background-color: @bgColor-primary;
    .animation-s(
        indexPost,
        @duration-index-post,
        linear,
        ( @duration-header + @duration-index-banner-img + @duration-index-statistics-live ),
        1,
        normal,
        running,
        both
    );
    position: relative;
    z-index: 3;

    > h1 {
        font-size: round( @fontSize-default*1.2 );
        line-height: @lineHeight-base;
        color: @fontColor-heading;
        text-align: center;
    }

    &-box {
        display: block;
        border: 2px solid @borderColor-primary; /* no */
        .reset-list( none,@fontSize-default,@lineHeight-base );
        .rounded( @borderRadius-public );
        margin-top: 48px;
        padding: 26px 0;
        .central-title( '合作金融机构' );

        > li {
            .central-img();
        }

        // 合作核心企业 (这种结构在 v1.3 版本去除)
        // & + & {
        //     margin-top: 64px;
        //
        //     &::before {
        //         content: '合作核心企业';
        //     }
        // }
    }
}

/* --- 战略合作 云平台v1.3 版本展示样式--- */
.the-central {
    margin-top: @gapSize-public*2;
    width: @width-web-body-public - @gapSize-public*2;
    border: 2px solid @borderColor-primary; /* no */
    .rounded( @borderRadius-public );
    .central-title( '合作核心企业' );

    &-items {
        padding: @gapSize-public 0;
    }

    &-item {
        .central-img();
    }
}

/* --- 战略合作出场动画 --- */
& {
    .keyframes( indexPost );

    .-frames(@-...) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

/* --- 每日实时统计出场动画 --- */
& {
    .keyframes( indexBannerBtn );

    .-frames(@-...) {
        0% {
            @{-}transform: translate3d( -50%, 200%, 0 );
            visibility: visible;
        }
        100% {
            @{-}transform: translate3d( -50%, 0, 0 );
        }
    }
}

/* --- 广告数据统计出场动画 --- */
& {
    .keyframes( statistics );

    .-frames(@-...) {
        0% {
            @{-}transform: translate3d( 0, -200%, 0 );
            visibility: visible;
        }
        100% {
            @{-}transform: translate3d( 0, 0, 0 );
        }
    }
}

/* --- 每日实时统计出场动画 --- */
& {
    .keyframes( statisticsLive );

    .-frames(@-...) {
        0% {
            @{-}transform: translate3d( 0, -100%, 0 );
            visibility: visible;
        }
        100% {
            @{-}transform: translate3d( 0, 0, 0 );
        }
    }
}
