/*
// 首页样式
// --------------------------------------------------
*/

@charset "UTF-8";

.index-banner {
    position: relative;
    padding-top: 100%;
    .image-onload();

    > img {
        position: absolute;
        top: 0;
        left: 0;
        .square(100%);
    }
}
