/*
// 页头导航
// --------------------------------------------------
*/

@charset "utf-8";

.header {
    background-color: @bgColor-header;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @height-header;
    .clearfix();
    .slideInDown();
    .animation-duration(0.5s);
    z-index: 2;

    &-title {
        font-size: floor(@fontSize-default*1.22);
        color: rgba(255,255,255,1);
        height: @height-header;
        line-height: @height-header;
        padding: 0 @height-header + 20px;
        text-align: center;
        .text-hide();
    }

    &-btn {
        .square(@height-header);
        position: absolute;
        top: 0;
        left: 0;
        line-height: @height-header;
        text-align: center;
        background: url("@{images-url}svg-icon/chevron-thin-left-fff.svg") center center no-repeat;
        background-size: 50%;

        &:active {
            background-color: darken(@bgColor-header,10%);
        }
    }

    //当需页面头部只有网站 LOGO
    &.index-header {
        height: @height-header;
        background: url('@{images-url}svg-icon/logo-fff.svg') @bgColor-header center center no-repeat;
        background-size: 60% 60%;

        .header-title {
            display: none;
        }

        .header-btn {
            display: none;
        }
    }
}

.header-v1_3 { //用 antd 的 NavBar
    background-color: @bgColor-header !important;
    position: relative;
    z-index: 2;
    .slideInDown();
    .animation-duration(0.5s);
}
