/*
// 页头导航
// --------------------------------------------------
*/

@charset "utf-8";

.header {
    background-color: @bgColor-header;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: @height-header;
    .clearfix();
    .slideInDown();
    .animation-duration( @duration-header );
    z-index: 2;

    &-title {
        font-size: floor( @fontSize-default*1.22 );
        color: rgba(255,255,255,1);
        height: @height-header;
        line-height: @height-header;
        padding: 0 @height-header + 20px;
        text-align: center;
        .text-hide();
    }

    &-btn,
    &-btn-left,
    &-btn-right,
    &-btn-fun {
        .size( auto,@height-header );
        padding: 0 @gapSize-public*2;
        position: absolute;
        top: 0;
        line-height: @height-header;
        text-align: center;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;

        &:active {
            background-color: darken( @bgColor-header,10% );
        }
    }

    &-btn-left {
        left: 0;
        background-image: url( "@{images-url}svg-icon/angle-left-fff.svg" );
    }

    &-btn-right {
        right: 0;
        background-image: url( "@{images-url}svg-icon/user-fff.svg" );
        background-size: 50%;
    }

    &-btn-fun {
        display: none;
        background-size: 45%;
        right: 0;

        &.add {
            background-image: url( "@{images-url}svg-icon/add-fff.svg" );
        }
    }

    //当需页面头部只有网站 LOGO
    &.index {
        background: url( '@{images-url}svg-icon/logo-fff.svg' ) @bgColor-header center center no-repeat;
        background-size: 60% 60%;

        .header-title {
            display: none;
        }

        .header-btn-left {
            display: none;
        }
    }

    // 登录及个人中心相关页面不需要个人中心按钮
    &.user .header-btn-right {
        display: none;
    }

    &.registries .header-btn-fun {
        display: block;
    }
}
